.button{
    padding-block: 12px;  
    padding-inline: 24px;
    text-decoration: none;
    
    /* text-decoration: none;
    padding: 10px 20px;
    border-radius: 8px; */
    
}

.button--blue{
    background-color: #0077B6;
    color: white;
    border: none;
}

.button--red{
    background-color: #C1121F;
    /* font-weight: 600; */
    color: white;
    border: none;  
}
