main {
    padding: 0 200px 0 200px;
}

.news-title{
    
}

.box {
    display: flex;
    align-items: center;
    gap: 15px;
}

.news-author, .news-date, .news-category {
    border: 1px solid #E6E6E6;
    border-radius: 8px;
    padding: 8px 16px;
}

.news-image {
    width: 1000px;
    height: 650px;
    border-radius: 24px;
}
.news-image > img {
display: flex;
align-items: center;
justify-content: center;
}