.user{
    display: flex;
    align-items: center;
    
}

.news-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.news-card{
    display: flex;
    gap: 20px;
    padding: 10px 40px;

}

.news-card__link{
    text-decoration: none;
}

.news-card__title{
    text-decoration: none;
    color: #3D3D3D;
}

.news-card__attributes{
    color: #707070;
}

.news-card__author, .news-card__actions{
    display: flex;
    justify-content: end;
}

.news-card__actions{
    gap: 10px;
}

.user__avatar img{
    width: 30px;
    height: auto;
}

.news-card__image {
    display: flex;
    align-items: end;
}

.news-card__image img{
    width: 230px;
    height: auto;
    border-radius: 8px;
}